.App {
  text-align: center;
  width: 575px;
  max-width: 100%;
}

input.form-control {
  margin-top: 5px;
  margin-bottom: 5px;
}

.btn {
  margin: 5px;
  background-color: #FC5185;
  color: white;
  border: 1px solid pink; /* Updated border color */
}

.btn:hover {
  background-color: pink; /* Hover color */
  border-color: pink; /* Hover border color */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body {
  background-color: pink;
}

.express-wallet-logo {
  width: 20px;
  height: 20px;
}
.amount-images-container .rupee-notes img,
.amount-images-container .coin-notes img {
  cursor: pointer;
}
.amount-images-container .coin-notes img {
  width: 40px;
  height: 40px;
  margin: 5px;
}
.amount-images-container .rupee-notes img {
  width: 50px;
  height: 85px;
  margin: 5px;
}

.amount-images-container .coin-notes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.amount-images-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

.amount-images-container .rupee-notes {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fancy-input {
  display: block;
  margin: 0 auto;
  border: none;
  border-radius: 50px;
  padding: 10px 20px;
  background-color: #d1cbcb;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease, width 0.3s ease;
  width: 100%;
  max-width: 300px;
  margin-bottom: 10px;
}

.fancy-input:focus {
  outline: none;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
  width: 180%; 
  height: 180%;/* Enlarge the width when focused */
}
.fancy-balance {
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  font-weight: bold;
}

.fancy-line-left,
.fancy-line-right {
  position: absolute;
  top: 50%;
  height: 1px;
  background-color: #ccc;
  width: 40%;
}

.fancy-line-left {
  left: 0;
  transform: translate(-100%, -50%);
}

.fancy-line-right {
  right: 0;
  transform: translate(100%, -50%);
}
.terms {
  position: relative;
  width: 300px;
  height: 300px;
  background-color: #f5f5f5;
  border-radius: 50%;
  padding: 20px;
  margin: 20px auto;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.terms p {
  font-size: 16px;
  color: #333;
  margin-bottom: 10px;
}

.toggle-container {
  display: flex;
  align-items: center;
  margin-top: 20px;
}

.toggle-label {
  font-size: 14px;
  margin-right: 10px;
}

.toggle-checkbox {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 10px;
  background-color: #ccc;
  cursor: pointer;
}

.toggle-checkbox:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.toggle-checkbox:checked:before {
  transform: translateX(20px);
}

.toggle-checkbox:focus-visible {
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.2);
}

.toggle-label {
  display: flex;
  align-items: center;
}

.toggle-button {
  position: relative;
  width: 30px;
  height: 14px;
  border-radius: 7px;
  background-color: #ccc;
  transition: background-color 0.3s ease;
  cursor: pointer;
}

.toggle-button.accepted {
  background-color: #6ebf7c;
}

.toggle-button:before {
  content: '';
  position: absolute;
  top: 2px;
  left: 2px;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  transition: transform 0.3s ease;
  transform: translateX(0);
}

.toggle-button.accepted:before {
  transform: translateX(16px);
}

.toggle-label-text {
  font-size: 14px;
  margin: 0 5px;
}

.toggle-container {
  display: flex;
  align-items: center;
}
